body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    max-width: 1200px;
    background-color: #6a5acd; /* Purple color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px 8px 8px 8px;
}
header nav a img {
    width: 24px;   /* Adjust the size as needed */
    height: auto;  /* Maintain aspect ratio */
}
#backButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Search Bar */
.search-bar {
    width: 10%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
}
h2{
    text-align: center;
}
/* Container */
.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    display: grid; /* Active Grid */
    place-items: center; /* Centre horizontalement et verticalement */
}
.h2 {
    text-align: right; /* Alignement à droite */
    margin-right: 20px; /* Espacement par rapport au bord droit */
    font-size: 16px;
    font-weight: bold;
}
.formation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.formation-card {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    transition: background 0.3s;
    cursor: pointer; /* Change le curseur en main pour indiquer que c'est cliquable */
    transition: transform 0.2s, box-shadow 0.2s; /* Animation au survol */
    text-decoration: none !important;
}
.formation-card:hover {
    background: #d0d0d0;
    transform: translateY(-5px); /* Effet de levée au survol */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Ombre plus prononcée */
}
.button-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.btn {
    background-color: #7b1fa2; /* Violet foncé */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}