/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:#EFF6FC; /* Light blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header */
header {
    width: 100%;
    max-width: 1200px;
    background-color: #6a5acd; /* Purple color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px 8px 8px 8px;
}
header nav a img {
    width: 24px;   /* Adjust the size as needed */
    height: auto;  /* Maintain aspect ratio */
}
#backButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Search Bar */
.search-bar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

/* Sidebar */
aside {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

aside ul {
    list-style-type: none;
}

aside li {
    margin-bottom: 10px;
    font-size: 16px;
}
aside ul li {
    cursor: pointer;
    transition: background-color 0.3s;
}

aside ul li:hover {
    background-color: #f0f0f0;
}
/* Main Section */
main {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.emploi-du-temps {
    text-align: center;
}
.mh2{
    text-align: center;    
}
.emploi-du-temps img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 500px;
    height: 400px;
}